body{
    background-color: rgb(111, 105, 103);
}

.cBlock{
    display: flex;
}

#fixed-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .top-button {
    cursor: pointer;
    display: block;
    background-color: #158359;
    color: rgb(255, 255, 255);
    padding: 5px 15px 5px 15px;
    font-size: 24px;
    font-family: Gabriola;
    border: 1.5px;
    border-style: solid;
    border-color: #034218;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

.Grid-container-top {
    width: 100%;
    display: grid;
    border: #034218 solid 1px;
    grid-template-areas: "left1 left2 left3 main right1 right2 right3";
    background-image: url("https://i.pinimg.com/originals/1b/55/e4/1b55e4bdb4fc6051382e370bf26d5a59.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    justify-items: center;
    align-items: center;
  }
  
  .Grid-container-top > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
  }

#fAbility{
    display: block;
    padding: 4px 4px 4px 4px;
}
.fList{
    background-color: blanchedalmond;
    border: solid black 2px;
    border-radius: 4px;
    padding: 4px;
}
h4{
    margin: 0%;
}
.mStats{
    display: flex;
}
.mAbility{
    margin: 0px 4px 0px 4px;
}
.pBlock{
    background-color: blanchedalmond;
    /* margin: 20px 0px 20px 0px; */
    padding: 10px;
    
}
#pEnd{
    /* margin: 20px 25px 20px 0px; */
    border-radius: 0 20px 20px 0;
    padding: 10px;
}
.pTitleTxt{
    font-size: 16px;
    font-weight: 600;
}
#pArt{
    background-color: blanchedalmond;
    border-radius: 4px 0px 0px 4px;
    padding: 4px;
}
.pValueTxt{
    background-color: blanchedalmond;
    border: none;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 16px;
    max-width: 350px;
}
.pElement{
    display: flex;
}
#pDescriptionTxt{
    margin-top: 8px;
}
.cCols{
    display: block;
}
.cFeatures{
    display: flex;
}
.cTitleTxt{
    border: 2px solid rgb(224, 202, 0);
    background-color: rgb(243, 238, 0);
    border-radius: 30% 30% 0% 0%;
    text-align: center;
    font-size: 18px;
    margin-top: 8px;
    padding: 3px;
}
.cValueTxt{
    border: 2px solid rgb(255, 162, 0);
    background-color: rgb(255, 179, 0);
    border-radius: 0% 0% 30% 30%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
}
.aTitleTxt{
    background-color: blanchedalmond;
    border: none;
    font-weight: 600;
    text-decoration: underline;
    max-width: 134px;
}
.aDescTxt{
    background-color: blanchedalmond;
    border: none;
    min-width: 136px;
    max-width: 136px;
}