body {
  background-image: url("https://qph.fs.quoracdn.net/main-qimg-8e0f9039ec0d5917a42996858a253e87-lq");
  background-repeat: repeat;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#text-block {
  font-size: 18px;
  margin-left: 60px;
  margin-right: 60px;
}

#Religion {
  grid-area: left1;
}

#History {
  grid-area: left2;
}

#Myths {
  grid-area: left3;
}

#Home {
  grid-area: main;
}

#Races {
  grid-area: right1;
}

#Cards {
  grid-area: right2;
}

#Rules {
  grid-area: right3;
}

#fixed-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.top-button {
  cursor: pointer;
  display: block;
  background-color: #117934;
  color: rgb(255, 255, 255);
  padding: 5px 15px 5px 15px;
  font-size: 24px;
  font-family: Gabriola;
  border: 1px;
  border-style: solid;
  border-color: #034218;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.top-button:hover {
  background-color: #39a03c;
  box-shadow: 0 5px 15px #77ff7ed0;
}

.Grid-container-top {
  width: 100%;
  display: grid;
  border: #034218 solid 1px;
  grid-template-areas: "left1 left2 left3 main right1 right2 right3";
  background-image: url("https://i.pinimg.com/originals/1b/55/e4/1b55e4bdb4fc6051382e370bf26d5a59.jpg");
  background-repeat: repeat-x;
  background-size: cover;
  justify-items: center;
  align-items: center;
}

.Grid-container-top > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
}

/* Dropdown Button */
.dropbtn {
  display: block;
  border-radius: 0 0 10px 10px;
  background-color: #15833a;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 12px;
  border: 1px solid;
  border-top: none;
  border-color: #034218;
  margin-left: 5px;
  margin-right: 5px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6ce293;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/*Top menu button styling*/
.dropdown-content a:hover {
  background-color: #4ebd52;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #4ebd52;
  cursor: pointer;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#Middle-block {
  position: relative;
  margin: auto;
  width: 50%;
}
#main-block {
  padding-top: 140px;
}
.section {
  background-image: url("https://www.stockvault.net/data/2021/05/10/285722/thumb16.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  margin: 20px auto;
  background-color: #74b176;
  border-radius: 40px;
  border-color: #000000;
  border-style: double;
}
#flex-section {
  display: flex;
  margin: 0 auto;
  padding: 20px;
}
#block {
  display: block;
}
.sub-section img {
  border-radius: 30px;
  border-color: #000000;
  border: 2px solid;
  margin: 0px;
}

.sub-section {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#sub-section-border {
  border: 2px solid;
  background-color: rgba(204, 245, 209, 0.4);
  border-color: #7fd39b;
  border-style: ridge;
  border-radius: 10px;
  margin-bottom: 20px;
}

.block-title {
  text-shadow: 0px 0px 1px #000000;
  text-align: center;
  font-size: 40px;
  color: #5a0000;
}
.block-header {
  font-size: 28px;
  color: #3e8e41;
}

.cardcontainer {
  margin: 50px;
}
.card {
  display: inline-table;
  margin: 10px;
}
.cardimg:hover {
  transform-origin: center;
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.flipcard_btn {
  width: 225px;
  height: 40px;
  border-radius: 5px;
  background-color: #6ce293;
  font-size: 24px;
}

#trait-list {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
}
.trait-box{
  margin: 1%
}

#positive-trait {
  border: 1px solid #034218;
  border-radius: 10px;
  background-color: rgb(41, 175, 75);
  font-size: 18px;
  padding: 5px;
}
#negative-trait {
  border: 1px solid #420303;
  border-radius: 10px;
  background-color: rgb(206, 48, 48);
  font-size: 18px;
  padding: 5px;
}
.trait-pop-content {
  display: none;
  position: absolute;
  border: #034218 solid 1px;
  border-radius: 10px;
  background-color: #d7f1e0;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px;
}
.trait-box:hover {
  cursor: default;
}
.trait-box:hover .trait-pop-content {
  display: block;
}
