.Top-menu{
display: flex;
position: sticky;
margin:auto;
padding: 10px;
border: 3px solid green;
}
#Top-menu-1{
    z-index: 2;
}
#Top-menu-2{
    z-index: 1;
}
#top-button{
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;  
}
/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /*Top menu button styling*/
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41; cursor: pointer; pointer-events: none;}
#top-button:hover{background-color:#3e8e41; cursor: pointer;}

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

#Middle-block{
position: relative;
margin:auto;
width: 50%;
}
#World-tree{
    padding: 50%;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: auto;   
}
#Mihridahl{
    padding: 50%;
    position: absolute;
    right: -120px;
    top: -20px;
    margin: auto;
}
#Athernis{
    padding: 50%;
    position: absolute;
    right: -20px;
    top: -100px;
    margin: auto;
}
#Charhin{
    padding: 50%;
    position: absolute;
    right: -80px;
    top: 60px;
    margin: auto;
}
#Devorna{
    padding: 50%;
    position: absolute;
    right: 40px;
    top: 100px;
    margin: auto;
}
#Morhin{
    padding: 50%;
    position: absolute;
    right: 70px;
    top: -40px;
    margin: auto;
}
#Naerini{
    padding: 50%;
    position: absolute;
    right: -150px;
    top: -60px;
    margin: auto;
}