span {
  cursor: pointer;
}

.feat-title{
    margin: 0%;
    align-self: center;
    padding: 2px;
}
@media only screen and (max-width: 4000px){
.featCol{
  display: none;
  width: 33%;
  max-width: 33%;
}
}
@media only screen and (max-width: 800px){
  .featCol{
    display: none;
    width: 66%;
    max-width: 66%;
  }
  }
  @media only screen and (max-width: 400px){
    .featCol{
      display: none;
      width: max-content;
      max-width: 100%;
    }
    }
#FeatList {
  display: flex;
  flex-wrap: wrap;
  border: solid;
  border-color: orange;
  border-width: 2px;
  border-radius: 10px;
  background-color: rgb(65, 49, 45);
}
.featRow {
  display: block;
  text-align: center;
  align-items: center;
  margin: 0.5em;
  background-color: #eae4b4;
  border: solid;
  border-color: orange;
  border-width: 2px;
  border-radius: 10px;
}
.featCell{
  padding-left: 2px;
  padding-right: 2px;
  height: max-content;
  margin: 1%;
  border: solid;
  border-color: black;
  border-width: 1px;
}
.featRequirments{
  display: flex;
  width: fit-content;
  height: fit-content;
}
.costText{
  margin: 0%;
  margin-left: 1em;
  align-self: center;
}
.f_description{
  font-size: 0.90em;
  display: block;
  white-space: pre-wrap;
  padding: 1%;
}
.dropDownBtn{
  background: none;
  border: none;
}
input[type="checkbox"]  {
    display: none;
 }
#AttributeList{
  width: 12.5em; 
  height: fit-content; 
  margin: auto;
  display: flex;
}
#RequirementList{
  width: 12.5em; 
  height: fit-content; 
  margin: auto;
  display: flex;
}

div label input {margin-right: 100px;}

.attribte{
  margin: 4px;
  border: 2px solid #fff;
  overflow: hidden;
  float: left;
}

.attribte label {
  float: left; line-height: 3.0em;
  width: 8.0em; height: 3.0em;
}
.attribte span{
  border: black;
  border-radius: 14%;
  border: 2px;
}

.attribte label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

.attribte label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
.attribte label input + span{color: #fff;}


/* This will declare how a selected input will look giving generic properties */
.attribte input:checked + span {
    color: #ffffff;
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
}
.requirementNr{margin: 4%;}
.requirementNr input + span{background-color: #d5d5d5; border: solid black 2px; border-radius: 8%; padding: 20%; font-weight: bold;}
.requirementNr input:checked + span{background-color: #ffffff; border: solid #cccccc 2px; font-weight: bold;}
/*
This following statements selects each category individually that contains an input element that is a checkbox and is checked (or selected) and chabges the background color of the span element.
*/
.body {margin: 5%;}
.agility {margin: 5%;}
.mind {margin: 5%;}
.mystic {margin: 5%;}
.presence {margin: 5%;}
.basic {margin: 5%;}



.body input + span{background-color: #fefefe; border: solid black 2px; border-radius: 8%; padding: 4%;}
.body input:checked + span{background-color: #F75A1B; border: solid #a03e17 2px;}
.agility input + span{background-color: #fefefe; border: solid black 2px; border-radius: 8%; padding: 4%;}
.agility input:checked + span{background-color: #1bf740; border: solid #12ab2c 2px;}
.mind input + span{background-color: #fefefe; border: solid black 2px; border-radius: 8%; padding: 4%;}
.mind input:checked + span{background-color: #5db8d9; border: solid #4589a2 2px;}
.mystic input + span{background-color: #fefefe; border: solid black 2px; border-radius: 8%; padding: 4%;}
.mystic input:checked + span{background-color: #d44ecb; border: solid #9a3a94 2px;}
.presence input + span{background-color: #fefefe; border: solid black 2px; border-radius: 8%; padding: 4%;}
.presence input:checked + span{background-color: #ebff65; border: solid #b1c04c 2px;}
.basic input + span{background-color: #fefefe; border: solid black 2px; border-radius: 8%; padding: 4%;}
.basic input:checked + span{background-color: #9b9b9b; border: solid #686868 2px;}