span {
  cursor: pointer;
}

.feat-title{
    margin: 0%;
    align-self: center;
    padding: 2px;
}
#optionsScreen{
  width: 100%;
  padding: 0.5em;
  border: 2px solid;
  background-color: rgba(204, 245, 209, 0.4);
  border-color: #7fd39b;
  border-style: ridge;
  border-radius: 1em;
  margin-bottom: 0.1em;
  align-items: center;
}
.featCol{
  display: none;
}

@media only screen and (max-width: 4000px){
.featCol{
  width: 33%;
  max-width: 33%;
}
}
@media only screen and (max-width: 800px){
  .featCol{
    width: 66%;
    max-width: 66%;
  }
  }
  @media only screen and (max-width: 400px){
    .featCol{
      width: 100%;
      max-width: 100%;
    }
    }
#FeatList {
  display: flex;
  flex-wrap: wrap;
  border: solid;
  border-color: orange;
  border-width: 2px;
  border-radius: 10px;
  background-color: rgb(65, 49, 45);
}
.featRow {
  display: block;
  text-align: center;
  align-items: center;
  margin: 0.5em;
  background-color: #eae4b4;
  border: solid;
  border-color: orange;
  border-width: 2px;
  border-radius: 10px;
}
.featCell{
  padding-left: 2px;
  padding-right: 2px;
  height: max-content;
  margin: 1%;
  border: solid;
  border-color: black;
  border-width: 1px;
}
.featRequirments{
  display: flex;
  width: fit-content;
  height: fit-content;
}
.costText{
  margin: 0%;
  margin-left: 1em;
  align-self: center;
}
.f_description{
  font-size: 0.90em;
  display: block;
  white-space: pre-wrap;
  padding: 1%;
}
.dropDownBtn{
  background: none;
  border: none;
}
input[type="checkbox"]  {
    display: none;
 }
#AttributeList{
  width: fit-content;
  height: fit-content; 
  margin: auto;
  display: flex;
}
#RequirementList{
  width: 50%;
  height: fit-content; 
  margin: auto;
  display: flex;
}

div label input {margin-right: 100px;}
.attribute span{
  border: rgb(44, 44, 44);
  border-radius: 14%;
  border: thin;
}

@media only screen and (max-width: 4000px){
  .attribute label {
    line-height: 3.0em;
    width: 8.0em; height: 3.0em;
  }

  .attribute span{
    font-size: 1em;
    min-width: 5em;
  }
}

@media only screen and (max-width: 800px){
  .attribute label {
    line-height: 3.0em;
    width: 6.0em; height: 3.0em;
  }

  .attribute span{
    font-size: 0.8em;
    min-width: 3em;
  }
}

@media only screen and (max-width: 400px){
  .attribute label {
    line-height: 3.0em;
    width: 4.0em; height: fit-content;
  }

  .attribute span{
    min-width: 1em;
    max-height: 1em;
    font-size: 0.8em;
  }
}

.attribute label input {
  /* position: absolute; */
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
.attribute label input + span{color: #000000;}


/* This will declare how a selected input will look giving generic properties */
.attribute input:checked + span {
    color: #ffffff;
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
}
.requirementNr{margin: 4%;}
.requirementNr input + span{background-color: #d5d5d5; border: solid black 2px; border-radius: 8%; padding: 20%; font-weight: bold;}
.requirementNr input:checked + span{background-color: #ffffff; border: solid #cccccc 2px; font-weight: bold;}
/*
This following statements selects each category individually that contains an input element that is a checkbox and is checked (or selected) and chabges the background color of the span element.
*/
.body {margin: 0.3em;}
.agility {margin: 0.3em;}
.mind {margin: 0.3em;}
.mystic {margin: 0.3em;}
.presence {margin: 0.3em;}
.basic {margin: 0.3em;}


.attribute input + span{
  background-color: #fefefe; border: solid black thin; border-radius: 8%; padding: 0.2em;
}

.body input:checked + span{background-color: #F75A1B; border: solid #a03e17 thin;}
.agility input:checked + span{background-color: #1bf740; border: solid #12ab2c thin;}
.mind input:checked + span{background-color: #5db8d9; border: solid #4589a2 thin;}
.mystic input:checked + span{background-color: #d44ecb; border: solid #9a3a94 thin;}
.presence input:checked + span{background-color: #ebff65; border: solid #b1c04c thin;}
.basic input:checked + span{background-color: #9b9b9b; border: solid #686868 thin;}