
#mapContainer{
    display: inline-block;
}

#mapImg{
    position: absolute;
    border: solid blue 4px;
    z-index: 1;
}
#mapCanvas{
    position: absolute;
    z-index: 20;
    border: solid red 2px;
}