* {
  box-sizing: border-box;
  font-family: Cambria;
}
body{
  background-color: darkgray;
  display: inline;
}


#MainDiv{
  margin-top: 90px;
  display: flex;
}
#OptionsDiv{
  margin-left: 1%;
  display: block;
  width: 12em;
  background-color: bisque;
  border-radius: 5px;
  height: fit-content;
  text-align: center;
}
.Buttons {
  margin: 2%;
  width: 10em;
  height: 2em;
}




