* {
  box-sizing: border-box;
  font-family: Cambria;
}
body{
  background-color: darkgray;
  display: inline;
}
#cardDesigner{
  width: fit-content;
}
.cForm{
  display: flex;
  height: fit-content;
}
.upload{
  margin-top: 8px;
}
.download{
  border: 2px solid black;
  margin: 0%;
  font-size: 16px;
  color: rgb(0, 0, 0);
  height: 40px;
  width: 140px;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
}
#chooseClass{
  width:auto;
  border: 2px solid rgb(0, 0, 0);
  background-color: antiquewhite;
  padding: 15px;
}
.CardClass {
  display: flex;
}


.Sun,
.Moon {
  border: 2px solid rgb(0, 95, 13);
  background-color: rgb(255, 255, 255);
  border-radius: 4%;
  width: auto;
  padding: 15px;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
}

.Bottom {
  
  border: 2px solid rgb(255, 0, 0);
  width: 100%;
  padding: 15px;
}
.capture {
  display: flex;
  max-width: 533px;
  max-height: 748px;
  margin: 0px;
}
#cardElements{
  position: absolute;
  width: 533px;
  height: 748px;
  display: inline;
  
}
.cardFrame{
  z-index: 0;
}
.cardArtBg{
  position: absolute;
  width: 533px;
  margin-bottom: 0;
  z-index: -2;
}
.cardRuleBg{
  z-index: -1;
  position: absolute;
  bottom: 60;
}
/* .cardElement{
  width: auto;
} */
#topCard{
  z-index: 99;
  text-align:center;
  height: 10%;
  width: auto;
}
#midCard{
  height: 40%;
  position: relative;
}
#previews{
  display: flex;
}
#spiritCost{
  display: flex;
  position:absolute;
  bottom: 0;
  right: 0;
  margin-right: 60px;
  margin-bottom: 10px;
}
.spiritText{
  margin: 0%;
  margin-right: 4px;
}
#botCard{
  position: relative;
  height: 28%;
  width: auto;
}
#abilityRange{
  position:absolute;
  display:flex;
  height:40px;
  bottom: 0;
  left: 0;
  margin: 5px;
  margin-left: 40px;
}
#flavourBox{
  position: relative;
  margin-left: 30px;
  margin-right: 30px;

  height: 8%;
}
.flavourText{
  margin: 0%;
  padding: 8px;
  font-style: italic;
}
#bottomLine{
  /* position: relative; */
  height: 5%;
  justify-content:space-between;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}
.CardGen_Title{
  margin: auto;
  margin-top: 30px;
  height: 33%;
  max-width: 250px;
  max-height: 60px;
  font-style: normal;
  font-weight:normal;
  font-size: 30px;
  /* font-size-adjust: 0.2; */
}
.CardGen_Types{
  margin: 0%;
  margin-top: 5px;
  height: 33%;
}
.CardGen_Class{
  margin: 0%;
  padding-top: 8px;
  font-weight: bold;
  font-size: 20px;
}
.CardGen_SubClass{
  margin: 0%;
  padding-top: 8px;
  font-weight: bold;
  font-size: 20px;
}
.CardGen_Rules{
  text-align: center;
  margin-bottom: 0%;
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}
.boldText{
  font-weight: bold;
}
.italicText{
  font-style: italic;
}
.RangeTypes{
  margin-left: 10px;
  margin-right: 0%;
}
#button{
  padding: 5px;
}

