* {
  box-sizing: border-box;
  font-family: Cambria;
}
body{
  background-color: darkgray;
  display: inline;
}

#MainDiv{
  margin-top: 90px;
  display: flex;
}
#OptionsDiv{
  margin-left: 1%;
  display: block;
  width: 10em;
  background-color: bisque;
  border-radius: 5px;
  height: fit-content;
  text-align: center;
}
.Buttons {
  margin: 2%;
  width: 10em;
  height: 2em;
}

.CharacterSheet {
  position: relative;
  overflow-x: hidden;
  display: flex;
  max-width: 100em;
  max-height: 75em;
}
#resizeSlider{
 position: absolute;
 z-index: 90;
margin-top: 2%;
margin-left: 8.1%;
}
#CharacterSheetBg{
  /* width: 1754px;
  height: 1240px; */
  z-index: 90;
  width: 100em;
  height: 75em;
}
#artFrame{
  position: absolute;
  z-index: -99;
  margin-left: 1.5%;
  margin-top: 1%;
  /* padding-left: 1.5%;
  padding-top: 7%; */
  display: flex;
  width: 18em;
  height: 21em;
  overflow: hidden;
  /* width: 17em; */
  align-items: center;
}
#ProfileArt{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  /* width: 18em; */
  height: 21em;
  object-fit: cover;
}

#info_Person{
  position: absolute;
  top: 41.5%;
  left: 7.2%;
  width: 1em;
  z-index: 99;
  text-align:center;
}
.infoPTxt{
  height: 26px;
  margin-bottom: 69%;
  max-width: 24em;
  background: none;
  border: 0;
  font-size: 1.2em;
}
#info_Language{
  position: absolute;
  top: 63%;
  left: 2.8%;
  width: 1em;
  z-index: 99;
  text-align:center;
}
.infoLTxt{
  height: 26px;
  margin-bottom: 70%;
  width: 17em;
  background: none;
  border: 0;
  font-size: 1.2em;
}

#info_Attributes{
  top: 8%;
  left: 32%;
  position: absolute;
  z-index: 98;
  text-align:center;
  display: flex;
}
.infoATxt{
  text-align: center;
  height: 28px;
  margin-right: 51%;
  max-width: 1.5em;
  background: none;
  border: 0;
  font-size: 1.5em;
}
#info_Base{
  top: 19.5%;
  left: 30.2%;
  position: absolute;
  z-index: 98;
  text-align:center;
  display: flex;
}
.info_BaseDiv{
  margin-right: 55%;
  display: block;
  width: 6em;
}
.info_HpDiv{
  margin-right: 43%;
  display: block;
  width: 6em;
}

.infoBTxt{
  margin: 2%;
  margin-left: 3%;
  height: 26px;
  margin-bottom: 13%;
  width: 6.5em;
  background: none;
  border: 0;
  font-size: 1.2em;
}

.infoBTxt_2{
  margin: 2%;
  margin-left: 3%;
  height: 26px;
  margin-bottom: 13%;
  width: 7.5em;
  background: none;
  border: 0;
  font-size: 1.2em;
}

#info_Equip{
  top: 34%;
  left: 31.2%;
  position: absolute;
  z-index: 98;
  text-align:center;
  display: flex;
}
.info_EquipDiv{
  margin-right: 80%;
  display: block;
  width: 8em;
}
.infoETxt{
  margin: 2%;
  height: 26px;
  margin-bottom: 11%;
  width: 12.5em;
  background: none;
  border: 0;
  font-size: 1.2em;
}
#info_Items{
  top: 48%;
  left: 25%;
  position: absolute;
  z-index: 98;
  display: flex;
align-items: center;
width: 50%;
}
.infoTxtItems{
  resize: none;
  margin: 1%;
  width: 17em;
  height: 29em;
  font-size: 1.2em;
  background: none;
  border: 0em;
}
#info_Features{
  top: 8%;
  left: 69.4%;
  position: absolute;
  z-index: 98;
  display: flex;
align-items: center;
width: 50%;
}
.infoTxtFeatures{
  resize: none;
  margin: 1%;
  width: 23em;
  height: 54em;
  font-size: 1.2em;
  background: none;
  border: 0em;
}
#CharacterSheetBg{
  z-index: 0;
}
#button{
  padding: 5px;
}

