#CharacterSheet{
  position: relative;
  display: flex;
  z-index: 80;
}
#CharacterSheetBg{
  /* width: 1754px;
  height: 1240px; */
  align-items: center;
  z-index: 70;
  width: 100em;
  height: 75em;
}
#resizeSlider{
 position: absolute;
 z-index: 90;
margin-top: 2%;
margin-left: 8.1%;
}
#artFrame{
  position: absolute;
  z-index: -99;
  margin-left: 1.2%;
  margin-top: 1%;
  padding-left: 1%;
  padding-top: 1%;
  display: flex;
  height: 29em;

  /* overflow: hidden; */
  width: 23em;
  align-items: center;
}
#ProfileArt{
  position: absolute;
  top:5%;
  left:5%;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  /* width: 18em; */
  height: auto;
  object-fit: cover;
}
#info_Person{
  position: absolute;
  top: 41.5%;
  left: 7.2%;
  width: 1em;
  z-index: 99;
  text-align:center;
}

.infoPTxt{
  height: 26px;
  margin-bottom: 69%;
  max-width: 24em;
  background: none;
  border: 0;
  font-size: 1.2em;
}
#info_Language{
  position: absolute;
  top: 63%;
  left: 2.8%;
  width: 1em;
  z-index: 99;
  text-align:center;
}
.infoLTxt{
  height: 26px;
  margin-bottom: 70%;
  width: 17em;
  background: none;
  border: 0;
  font-size: 1.2em;
}
#info_Combat{
  position: absolute;
  top: 78.6%;
  left: 10.3%;
  z-index: 99;
  width: 4.5em;
  text-align:center;
  display: block;
}
.infoCTxt{
  height: 26px;
  margin-bottom: 19%;
  width: 4.5em;
  background: none;
  border: 0;
  font-size: 1.2em;
}

#info_Attributes{
  top: 9.5%;
  left: 28.5%;
  position: absolute;
  z-index: 98;
  text-align:center;
  display: flex;
}
#attribute{
  display: flex;
  margin-right: 10.3%;
}
.infoATxtTemp{
  text-align: center;
  height: 28px;
  margin-left: 11%;
  max-width: 1.5em;
  background: none;
  border: 0;
  font-size: 1.5em;
}
.infoATxtBase{
  text-align: center;
  height: 28px;
  max-width: 1.5em;
  background: none;
  border: 0;
  font-size: 2em;
}
#info_Base{
  top: 22.5%;
  left: 30.2%;
  position: absolute;
  z-index: 98;
  text-align:center;
  display: flex;
}
.info_BaseDiv{
  margin-right: 50%;
  margin-left: 2%;
  display: block;
  width: 6em;
}
.info_HpDiv{
  margin-right: 43%;
  display: block;
  width: 6em;
}

.infoBTxt{
  margin: 2%;
  /* margin-left: 0%; */
  height: 26px;
  margin-bottom: 13%;
  width: 6.5em;
  background: none;
  border: 0;
  font-size: 1.2em;
}

.infoBTxt_2{
  margin: 2%;
  margin-left: 3%;
  height: 26px;
  margin-bottom: 13%;
  width: 7.5em;
  background: none;
  border: 0;
  font-size: 1.2em;
}

#info_Equip{
  top: 36.7%;
  left: 31.2%;
  position: absolute;
  z-index: 98;
  text-align:center;
  display: flex;
}
.info_EquipDiv{
  margin-right: 80%;
  display: block;
  width: 8em;
}
.infoETxt{
  margin: 2%;
  height: 26px;
  margin-bottom: 11%;
  width: 12.5em;
  background: none;
  border: 0;
  font-size: 1.2em;
}
#info_Items{
  top: 50.5%;
  left: 25%;
  position: absolute;
  z-index: 98;
  display: flex;
  align-items: center;
  width: 50%;
}
.infoTxtItems{
  resize: none;
  margin: 1%;
  margin-top: 3%;
  width: 17em;
  height: 26em;
  font-size: 1.2em;
  background: none;
  border: 0em;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: rgb(83, 69, 48);  */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(83, 69, 48); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(83, 69, 48); }
  ::-webkit-scrollbar-corner{

  }

#info_Features{
  top: 8%;
  left: 69.4%;
  position: absolute;
  z-index: 98;
  align-items: center;
}
.infoTxtFeatures{
  text-align: left;
  resize: none;
  margin-left: 5%;
  width: 20em;
  font-size: 1.2em;
  background: none;
  border: 0em;
}

.f_name{
  font-weight: bold;
  font-style: italic;
  color: #3F3019;
  resize: none;
  width: 18em;
  font-size: 1.3em;
  background: none;
  border: 0em;
}
.f_txtArea{
  resize: none;
  overflow: hidden;
  min-height: 50px;
  max-height: 200px;
  text-align: left;
  margin-left: 5%;
  width: 20em;
  font-size: 1.2em;
  background: none;
  border: 0em;
  /* display: none; */
}
.feature{
  padding-top: 0.8em;
  padding-left: 0.5em;
  height: fit-content;
}
#addFeature{
  top: 5%;
  left: 68%;
  margin-left: 2%;
  font-size: medium;
  font-weight: bold;
  background:none;
  border: 0.4em;
  position: absolute;
}
#addFeature:hover{
cursor: pointer;
}
#CharacterSheetBg{
  z-index: 0;
}
#f_title{
  display: flex;
}
.f_button{
  font-size: 1.3em;
  font-weight: bold;
  background: none;
  border: 0em;
}
#button{
  padding: 5px;
}

/* Dropdown Button */
.dropItemMenuBtn {
  margin-left: 4%;
  font-size: medium;
  font-weight: bold;
  background:none;
  border: 0.4em;
}
/* The container <div> - needed to position the dropdown content */
.dropItemMenu {
  position: absolute;
  display: block;
  top: 0%;
}
.dropMenuItem{
  margin-left: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropItemMenu-content {
  background: rgb(198, 182, 156);
  border: solid 1px #3F3019;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  min-width: 7em;
  z-index: 1;

}
/*Top menu button styling*/
.dropItemMenu-content a:hover {
  cursor: pointer;
  color: #ffffff;
  transition: 0.2s;
  transform: scale(1.1);
  /*background-color: #4bd4a0;*/
}
.dropItemMenu:hover .dropItemMenu-content {
  display: block;
}
.dropItemMenu:hover .dropItemMenuBtn {
  cursor: pointer;
}
/* Links inside the dropdown */
.dropItemMenu-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.bagRow{
  display: flex;
  padding-top: 2px;
  height: 1.1em;
  width: 17em;
  align-items: center;
}

.b_name{
  width: 14em;
  margin-right: 2%;
  font-weight: bold;
  font-size: 17px;
  background: none;
  border: none;
}
#b_title{
  display: flex;
  height: 1.2em;
}

.b_button{
  padding: 0%;
  top: 50%;
  left: 50%;
  background: none;
  font-weight: bold;
  border: none;   
}

.b_button:hover{
  cursor: pointer;
}
.b_itemName{
  width: 10.6em;
  margin-right: 2%;
  margin-left: 3.2%;
  font-weight: bold;
  font-size: 17px;
  background: none;
  border: none;
}
.b_itemTitle{
  font-size: 16px;
  margin: 0%;
  padding-right: 4px;
  text-align: center;
}

.b_attribute{
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  width: 4em;
  border: none;
  background: none;
}
.b_armAttribute{
  font-size: 16px;
  margin: 2px;
  width: 7em;
  border: none;
  background: none;
}
.bag_smallDigit{
  font-size: 14px;
  font-weight: bold;
  border: none;
  width: 1.9em;
  background: none;
}
.bag_icons{
  height: 18px;
  width: 18px;
  margin-right: 0.2em;
}
.b_attributeTitle{
  font-size: 16px;
  margin: 0%;
  width: fit-content;
  padding-right: 4px;
  text-align: center;
}
.b_dmgTypes{
  width: 5em;
  border: none;
  border-radius: 40%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: rgba(144, 130, 110, 0.3);
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
}
.b_penaltyText{
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  resize: none;
  overflow: hidden;
  width: 14em;
  min-height: 25px;
  max-height: 200px;
  border: none;
  background: none;
}
.dmgTypesInfo{
  position: absolute;
  margin-bottom: 0%;
  margin-left: 17%;
  z-index: 99;
  background: rgb(198, 182, 156);
  border: solid 1px #3F3019;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 6em;
  height: fit-content;
  font-size: 14px;

  padding: 2px;
}
.b_info_div{
  margin-left: 4%;
}