#CharacterSheet{
  position: relative;
  display: flex;
  z-index: 80;
}
#CharacterSheetBg{
  /* width: 1754px;
  height: 1240px; */
  align-items: center;
  z-index: 70;
  width: 100em;
  height: 75em;
}
#resizeSlider{
 position: absolute;
 z-index: 90;
margin-top: 2%;
margin-left: 8.1%;
}
#artFrame{
  position: absolute;
  z-index: -99;
  margin-left: 1.2%;
  margin-top: 1%;
  padding-left: 1%;
  padding-top: 1%;
  display: flex;
  height: 29em;

  /* overflow: hidden; */
  width: 23em;
  align-items: center;
}
#ProfileArt{
  position: absolute;
  top:0%;
  left:-10%;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  /* width: 18em; */
  height: auto;
  object-fit: cover;
}
#info_Person{
  position: absolute;
  top: 41.5%;
  left: 7.2%;
  width: 1em;
  z-index: 99;
  text-align:center;
}

.infoPTxt{
  height: 26px;
  margin-bottom: 69%;
  max-width: 24em;
  background: none;
  border: 0;
  font-size: 1.2em;
}
#info_Language{
  position: absolute;
  top: 63%;
  left: 2.8%;
  width: 1em;
  z-index: 99;
  text-align:center;
}
.infoLTxt{
  height: 26px;
  margin-bottom: 70%;
  width: 17em;
  background: none;
  border: 0;
  font-size: 1.2em;
}
#info_Combat{
  position: absolute;
  top: 78.6%;
  left: 10.3%;
  z-index: 99;
  width: 4.5em;
  text-align:center;
  display: block;
}
.infoCTxt{
  height: 26px;
  margin-bottom: 19%;
  width: 4.5em;
  background: none;
  border: 0;
  font-size: 1.2em;
}

#info_Attributes{
  top: 9.5%;
  left: 28.5%;
  position: absolute;
  z-index: 98;
  text-align:center;
  display: flex;
}
#attribute{
  display: flex;
  margin-right: 10.3%;
}
.infoATxtTemp{
  text-align: center;
  height: 28px;
  margin-left: 11%;
  max-width: 1.5em;
  background: none;
  border: 0;
  font-size: 1.5em;
}
.infoATxtBase{
  text-align: center;
  height: 28px;
  max-width: 1.5em;
  background: none;
  border: 0;
  font-size: 2em;
}
#info_Base{
  top: 22.5%;
  left: 30.2%;
  position: absolute;
  z-index: 98;
  text-align:center;
  display: flex;
}
.info_BaseDiv{
  margin-right: 55%;
  display: block;
  width: 6em;
}
.info_HpDiv{
  margin-right: 43%;
  display: block;
  width: 6em;
}

.infoBTxt{
  margin: 2%;
  margin-left: 3%;
  height: 26px;
  margin-bottom: 13%;
  width: 6.5em;
  background: none;
  border: 0;
  font-size: 1.2em;
}

.infoBTxt_2{
  margin: 2%;
  margin-left: 3%;
  height: 26px;
  margin-bottom: 13%;
  width: 7.5em;
  background: none;
  border: 0;
  font-size: 1.2em;
}

#info_Equip{
  top: 36.7%;
  left: 31.2%;
  position: absolute;
  z-index: 98;
  text-align:center;
  display: flex;
}
.info_EquipDiv{
  margin-right: 80%;
  display: block;
  width: 8em;
}
.infoETxt{
  margin: 2%;
  height: 26px;
  margin-bottom: 11%;
  width: 12.5em;
  background: none;
  border: 0;
  font-size: 1.2em;
}
#info_Items{
  top: 51%;
  left: 25%;
  position: absolute;
  z-index: 98;
  display: flex;
align-items: center;
width: 50%;
}
.infoTxtItems{
  resize: none;
  margin: 1%;
  width: 17em;
  height: 27em;
  font-size: 1.2em;
  background: none;
  border: 0em;
}
#info_Features{
  top: 8%;
  left: 69.4%;
  position: absolute;
  z-index: 98;
align-items: center;
}
.infoTxtFeatures{
  text-align: left;
  resize: none;
  margin-left: 5%;
  width: 20em;
  font-size: 1.2em;
  background: none;
  border: 0em;
}

.f_name{
  font-weight: bold;
  font-style: italic;
  color: #3F3019;
  resize: none;
  width: 18em;
  font-size: 1.3em;
  background: none;
  border: 0em;
}
.f_txtArea{
  resize: none;
  overflow: hidden;
  min-height: 50px;
  max-height: 200px;
  text-align: left;
  margin-left: 5%;
  width: 20em;
  font-size: 1.2em;
  background: none;
  border: 0em;
  /* display: none; */
}
.feature{
  padding-top: 0.8em;
  padding-left: 0.5em;
  height: fit-content;
}
#addFeature{
  top: 5%;
  left: 68%;
  margin-left: 2%;
  font-size: medium;
  font-weight: bold;
  background:none;
  border: 0.4em;
  position: absolute;
}
#CharacterSheetBg{
  z-index: 0;
}
#f_title{
  display: flex;
}
.f_button{
  font-size: 1.3em;
  font-weight: bold;
  background: none;
  border: 0em;
}
#button{
  padding: 5px;
}

