body{
    display: flex;
    width: fit-content;
}
button{
    background-color: rgb(255, 136, 0);
    color: rgb(255, 253, 240);
    border-radius: 12px;
    text-align: center;
}
.blocks{
    width: fit-content;
    margin: 20px;
    background-color: rgb(77, 77, 77);
    border: 5px;
    border-color: black;
    border-radius: 10px;
    padding: 8px;
}
#initiativeOrder{
    width: fit-content;
    height: fit-content;
    padding: 5px;
}
.creatures{
    margin: 2%;
    background-color: rgb(255, 166, 0);
    border: 2px;
    border-radius: 12px;
    padding: 6px;
    width: fit-content;
}
#DeadList{
    padding: 4px;
}
.deadCreature{
    background-color: rgb(151, 0, 0);
    border: 2px;
    font-size: large;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 12px;
}
.c_Div{
    display: flex;
    width: 20em;
}
.c_title{
    width: fit-content;
    display: flex;
}
.info{

    width: 20em;
    padding: 4px;
}
.initiative{
    display: flex;
    width: 12em;
    margin: 0%;
}
#baseInitative{
    background: none;
    border: 0px;
    height: auto;
}
.txt{
    height: auto;
    width: 2em;
    margin-left: 2%;
}
.title{
    height: 1.5em;
    width: fit-content;
    text-align: right;
    margin: 0%;
}
#con_txt{
    width: 20em;
}
.c_name{
    font-size: large;
}
.c_button{
    height: 1.5em;
    width: 1.5em;
    text-align: center;
}