body{
    display: flex;
    width: fit-content;
}
.blocks{
    width: fit-content;
    margin: 20px;
    background-color: gray;
    border: 5px;
    border-color: black;
    border-radius: 10px;
    padding: 8px;
}
#initiativeOrder{
    width: fit-content;
    max-height: 20em;
    padding: 5px;
}
.creatures{
    margin: 2%;
    background-color: blanchedalmond;
    border: 2px;
    border-radius: 4px;
    padding: 6px;
    width: fit-content;
}
#DeadList{
    padding: 4px;
}
.deadCreature{
    background-color: brown;
    border: 2px;
    font-size: large;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
}
.c_Div{
    display: flex;
    width: 20em;
}
.c_title{
    width: fit-content;
    display: flex;
}
.info{

    width: 20em;
    padding: 4px;
}
.initiative{
    display: flex;
    width: 12em;
    margin: 0%;
}
#baseInitative{
    background: none;
    border: 0px;
    height: auto;
}
.txt{
    height: auto;
    width: 2em;
    margin-left: 2%;
}
.title{
    height: 1.5em;
    width: fit-content;
    text-align: right;
    margin: 0%;
}
#con_txt{
    width: 20em;
}
.c_name{
    font-size: large;
}
.c_button{
    height: 1.5em;
    width: 1.5em;
    text-align: center;
}