body{
 background-color: rgb(62, 62, 62); 
}
#display{
  margin: 0.5em;
}
ul {
    list-style-type: none;
  }

#turOrdning{
  background-image: url(https://i.pinimg.com/564x/6a/21/92/6a21921ed473d07fd037cf4b1bfb2a9d.jpg);
  background-position-y: bottom;
  background-size: cover;
  border: solid 2px black;
  margin: 0%;
  padding: 2em;
  align-content: baseline;
  visibility: hidden;
}

#popupDiv{
  margin-bottom: 0.1em;
}
.line{
  display: flex;
  background-color: rgba(237, 234, 234, 0.6);
  border-radius: 0.2em;
  border: solid 1px rgb(181, 179, 179);
  max-width: 24em;
  max-height: 1.6em;
  margin: 0.35em;
  align-items: center;
  margin-left: 1em;
}

.iv{
    align-self: center;
    position: relative;
    --size: fit-content;
    height: var(--size);
    min-width: 1.05em;
    right: 0.5em;
    background-color: rgb(255, 255, 29);
    border-radius: 50%;
    padding: 0.3em;
    text-align: center;
    border: solid 1px rgb(217, 188, 24);
    
}
.namn{
    width: 10em;
    height: fit-content;
    padding-right: 0.3em;
}
.long-input{
  align-self: center;
width: 10em;
margin-right: 0.3em;
}
.short-input{
width: 2em;
margin-right: 0.3em;
}
#hp{
    margin-left: 0.5em;
}
.dropdown {
    position: relative;
    /* display: inline-block; */
    width: 5em;
    text-align: center;
  }
  .dropdown-content {
    align-self: center;
    display: none;
    background-color: rgb(224, 224, 224);
    height: fit-content;
    width: fit-content;
    padding: 0.2em;
    border: solid rgb(84, 84, 84) 1px;
    position: absolute;
    z-index: 1;
  }
  .dropMenu_btn{
    background: none;
    border: none;
    margin: 0.1em;
    padding: 0.1em;
  }
  .dropMenu_btn:hover{
    cursor: pointer;
    background-color: #ffffff;
    border: solid 1px rgb(209, 209, 209);
  }
  /*Top menu button styling*/
.dropdown-content a:hover {
    cursor: pointer;
    color: #ffffff;
    transition: 0.2s;
    transform: scale(1.1);
    /*background-color: #4bd4a0;*/
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #28a374;
    cursor: pointer;
  }